<h1 class="display-1 text-white text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">BellStore</h1>
<h2 class="text-center" style="color: #ccc">買い物をしよう。</h2>
<p class="text-center" style="color: #ccc">べる鈴木が作成したECサイトのサンプルサイトです。</p>
