<div class="text-center" >
<h1 class="display-1 text-white font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">BellStore</h1>
<h2 style="color: #ccc">買い物をしよう。</h2>
<p style="color: #ccc">べる鈴木が作成したECサイトのサンプルサイトです。</p>
<button type="button" class="btn btn-warning"><%= link_to "商品一覧へ", products_path %></buton>
</div>
