main {
  padding-top: 60px;
  min-height: calc(100vh - 50px);
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #5f9ea0;
}

img {
  max-width: 100%;
  height: auto;
  width /***/:auto;
}

h1{
  font-size:20px;
  font-weight:bold;
}
h2{
  font-size:16px;
  font-weight:bold;
}

.field{
  width:350px;
}